if there's any doubt for any question, just ask in python group :)
- connect to runtime
- run first line of code, if a box pop ups, click on "run anyways"
- once connected run the hello world code to make sure colab is ready for your python code
- start writing code in gray area after each question and press the "run" button present on left side of each gray cell

python notes for reference:
https://bhagyalaxmi.notion.site/Python-with-AI-dc55eea6f63e4197a34fbee67c0399b3?pvs=74

### 0. print hello world to screen

In [ ]:
print("hello world")

hello world

### 1. create a variable my_name, initialize it with a string of your name and print it.

### 2. create variables
- my_int
- my_float
- my_str
- my_boolean

and initialize with some int, float, str and boolean value respectively and print them.

### 3. use type function to check if the initalized variables contain that data type or not

### 4. Try out variable names of your choice, and see what python allows and what it does not

Rules for Python variables
- A Python variable name must start with a letter or the underscore character.
- A Python variable name cannot start with a number.
- A Python variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ ).
- Variable in Python names are case-sensitive (name, Name, and NAME are three different variables).
- The reserved words(keywords) in Python cannot be used to name the variable in Python.

### 5. take two variables "a" and "b" initalize with some number (integer or float). perform mathematical operations on it, print each operation to see outputs
- add
- subtract
- multiply
- divide
- power

### 6. Take input "name" and print name variable.

### 7. use the variables you initialized in ques 5 and perform logical operators on it.

- check equal to (==)
- check not equal to (!=)
- check greater than or equal to (>=)
- check greater than (>)
- check less than or equal to (<)
- check less than or equal to (<=)

example: print(a==b)

### 8. make a variable named "text" initialize with any word of length 5
check index of each letter in string using concept of indexing

- print(text[0])
- print(text[1])

and so on, check last index of string.

### 9. make a list named list1 and initalize with numbers.

example:

list1 = [1,2,3,4,5]

### append an item into list
### insert an item at index 2
### remove an iterm

### 10. make a dictionary named dict1
- add atleast 3 key value pairs into dictionary
- print a value using key
- modify a value using key
- remove key value pair from dictionary