concept of indexing

In [ ]:
list_example = [1,2,3]
print(list_example[0])

1

In [ ]:
list_example.append("bhagya")
print(list_example)

[1, 2, 3, 'bhagya']

In [ ]:
list_example.insert(0,True)
print(list_example)

[True, 1, 2, 3, 'bhagya']

In [ ]:
list_example.pop(0)
print(list_example)

[1, 2, 3, 'bhagya']

extended functions for list

- copy()
- extend()
- count()
- index()
- insert()
- pop()
- remove()
- reverse()
- sort()

TUPLE

- initialized with parenthesis
- items are ordered
- duplicates are allowed
- CANNOT modify data items

In [1]:
my_tuple = ("bhagya", 2,50, 25,100,2, True)
print(my_tuple)

('bhagya', 2, 50, 25, 100, 2, True)

In [2]:
print(my_tuple[2])

50

In [ ]:
print(type(my_tuple))

<class 'tuple'>

In [ ]:
print(my_tuple[1])

2

In [ ]:
my_tuple[1] = False

TypeError: 'tuple' object does not support item assignment

In [3]:
bhagya = [1,2,3,4]
print(len(bhagya))

4

In [4]:
print(sum(bhagya))

10

In [ ]:
print(len(my_tuple))

6

extended functions for tuple

- count()
- index()
- sorted()
- max(), min(), sum()

SET

- initialized with curly braces
- unordered
- can modify with functions
- does not allow duplicate items

In [5]:
my_set = {27,21,3,5,7}
print(type(my_set))

<class 'set'>

In [6]:
print(my_set)

{3, 5, 21, 7, 27}

In [7]:
print(my_set[0])

TypeError: 'set' object is not subscriptable

In [8]:
my_set.add(4)
print(my_set)

{3, 4, 5, 21, 7, 27}

In [9]:
my_set.pop()
print(my_set)

{4, 5, 21, 7, 27}

extended functions for set

- copy()
- clear()
- intersection()
- isdisjoint()
- remove()
- issuperset()
- union()

In [67]:
a = {1,2,3,4,5}
b = {2,3,4}

print(a.intersection(b))

{2, 3, 4}

DICTIONARY

- key:value pair
- can manipulate values
- cannot have duplicate keys

In [10]:
dict1 = {"python": 25}

In [11]:
print(dict1["python"])

25

In [13]:
dict1["python"] = 32
print(dict1["python"])

32

In [15]:
dictionary = {"name": "bhagya",
              "school" : "scss",
              "age" : 22}

In [17]:
dictionary["course"] = "mtech"
print(dictionary)

{'name': 'bhagya', 'school': 'scss', 'age': 22, 'course': 'mtech'}

In [ ]:
print(dictionary["name"])

bhagya

In [18]:
dictionary.pop("name")

'bhagya'

In [19]:
print(dictionary)

{'school': 'scss', 'age': 22, 'course': 'mtech'}

extended functions for dictionary

- keys()
- values()
- items()
- clear()
- get()

In [23]:
print(dictionary.values())

dict_values(['scss', 22, 'mtech'])