## basic input output

In [87]:
number = input()
print(number)

bhagya

## comparision operators

- assignment operator (=)
- check equal to (==)
- check not equal to (!=)
- check greater than or equal to (>=)
- check greater than (>)
- check less than or equal to (<)
- check less than or equal to (<=)

In [88]:
float_val = 2.8

In [89]:
first_num = 3.7
second_num = 3.7

print(first_num <= second_num)

True

In [90]:
print(8 == 8)

print(8>=7)

print(8>6)

print(8 <= 4)

print(8!=9)

True
True
True
False
True

### logical operators

- and
- or
- not

In [91]:
first_con = False
second_con = False

print( first_con or second_con)

False

# Concept of indexing

indexing starts from 0

19 - index 0
7 - index 1
8 - index 2
4 - index 3

In [92]:
name = "bhagya"
print(name[0])

b

In [93]:
l = [3,7,9,1,50]
print(l[0])

3

In [94]:
list_example = [1,2,3]
print(list_example[0])

1

## In-built data types in python

- List
- Tuple
- Set
- Dictionary

LIST

- items are ordered
- duplicates are allowed
- modify data items

In [95]:
nums = [3,3,4,4,7, 7,9,1,50]

In [96]:
list_example = [True, False, 89, "bhagya", "scss"]
print(list_example)

[True, False, 89, 'bhagya', 'scss']

In [97]:
list_example[3] = "python"
print(list_example)

[True, False, 89, 'python', 'scss']

In [98]:
print(nums)

[3, 3, 4, 4, 7, 7, 9, 1, 50]

In [99]:
print(nums[4])

7

In [100]:
print(numbers[3])

1

In [101]:
py_list = [1,2,3,4]

In [102]:
py_list.append(50)
py_list.append("bhagya")
print(py_list)

[1, 2, 3, 4, 50, 'bhagya']

In [103]:
py_list.insert(0,True)
print(py_list)

[True, 1, 2, 3, 4, 50, 'bhagya']

In [104]:
py_list.insert(0,25)
print(py_list)

[25, True, 1, 2, 3, 4, 50, 'bhagya']

In [105]:
py_list.pop(0)
print(py_list)

[True, 1, 2, 3, 4, 50, 'bhagya']

TUPLE

- items are ordered
- duplicates are allowed
- CANNOT data items

In [106]:
my_tuple = ("bhagya", 2, True)
print(my_tuple)

('bhagya', 2, True)

In [107]:
print(type(my_tuple))

<class 'tuple'>

In [108]:
print(my_tuple[1])

2

In [109]:
my_tuple[1] = False

TypeError: 'tuple' object does not support item assignment

SET

- unordered
- can modify with functions
- does not allow duplicate items

In [110]:
my_set = {2, 78, 0}
print(type(my_set))

<class 'set'>

In [111]:
print(my_set[0])

TypeError: 'set' object is not subscriptable

In [112]:
print(my_set)

{0, 2, 78}

DICTIONARY

- key:value pair
- can manipulate values
- cannot have duplicate keys

In [113]:
dictionary = {"name": "bhagya",
              "school" : "scss",
              "age" : 22}

In [114]:
print(dictionary)

{'name': 'bhagya', 'school': 'scss', 'age': 22}

In [115]:
print(dictionary["name"])

bhagya

In [116]:
dictionary.pop("name")

'bhagya'

In [117]:
print(dictionary)

{'school': 'scss', 'age': 22}