concept of indexing

In [2]:
l = [10, 20, 30, 40, 50]

print(l[4])

50

In [3]:
name = "bhagya"

print(name[0])

b

In [ ]:
list_example = [1,2,3]
print(list_example[0])

1

In [ ]:
list_example.append("bhagya")
print(list_example)

[1, 2, 3, 'bhagya']

In [ ]:
list_example.insert(0,True)
print(list_example)

[True, 1, 2, 3, 'bhagya']

In [6]:
list1 = [1,2,3,4]
list1.reverse()
list1

[4, 3, 2, 1]

extended functions for list

- copy()
- extend()
- count()
- index()
- insert()
- pop()
- remove()
- reverse()
- sort()

TUPLE

- initialized with parenthesis
- items are ordered
- duplicates are allowed
- CANNOT modify data items

In [8]:
tuple1 = (1,2,3, "bhagya")
print(tuple1)

print(type(tuple1))

(1, 2, 3, 'bhagya')
<class 'tuple'>

In [9]:
print(tuple1[2])

3

In [10]:
tuple1[2] = True

TypeError: 'tuple' object does not support item assignment

In [ ]:
print(my_tuple[1])

2

In [ ]:
my_tuple[1] = False

TypeError: 'tuple' object does not support item assignment

In [12]:
nums = [1,2,3,4,5,6]
print(len(nums))

6

In [13]:
print(sum(nums))

21

extended functions for tuple

- count()
- index()
- sorted()
- max(), min(), sum()

SET

- initialized with curly braces
- unordered
- can modify with functions
- does not allow duplicate items

In [15]:
s = {1,2,3,4}
print(type(s))

<class 'set'>

In [16]:
print(s[0])

TypeError: 'set' object is not subscriptable

In [20]:
a = {1,2,3,4}
b = {2,3,4,5}
print(a.intersection(b))

{2, 3, 4}

extended functions for set

- copy()
- clear()
- intersection()
- isdisjoint()
- remove()
- issuperset()
- union()

In [67]:
a = {1,2,3,4,5}
b = {2,3,4}

print(a.intersection(b))

{2, 3, 4}

DICTIONARY

- key:value pair
- can manipulate values
- cannot have duplicate keys

In [26]:
scss = {"python" : 7, "java":8, "matlab": 5}
print(scss)

{'python': 7, 'java': 8, 'matlab': 5}

In [27]:
scss["python"] = 15
print(scss)

{'python': 15, 'java': 8, 'matlab': 5}

In [33]:
dictionary = {"name": "bhagya",
              "school" : "scss",
              "age" : 22}

In [32]:
dictionary["school"] = "sis"
print(dictionary)

{'name': 'bhagya', 'school': 'sis', 'age': 22, 'course': 'mtech'}

In [ ]:
print(dictionary["name"])

bhagya

In [18]:
dictionary.pop("name")

'bhagya'

In [19]:
print(dictionary)

{'school': 'scss', 'age': 22, 'course': 'mtech'}

extended functions for dictionary

- keys()
- values()
- items()
- clear()
- get()

In [34]:
dictionary = {"name": "bhagya",
              "school" : "scss",
              "age" : 22}
print(dictionary.keys())

dict_keys(['name', 'school', 'age'])