- go connect your colab to runtime
- then run first line of code

In [ ]:
print("hello world")

hello world

basic input/output
- after you run the code, it will show a blank input box to enter a "string" and then press enter
- it will print "My name is {what you enter}"

In [ ]:
name = input()
print("My name is ", name)

bhagya
My name is  bhagya

concept of classes and objects
- everything in python is treated as an object
- an object will have functions/methods we can apply on it

In [ ]:
name = "bhagya"
name.isnumeric()

False

In [ ]:
name.isalpha()

True

In [ ]:
# like the example i gave for class, object and methods

class Animal:
    def __init__(self, name, colour):
        self.name = name
        self.colour = colour

    def sound(self):
        print("meow")

# now we create object of class Animal, named cat and colour black

my_animal = Animal(name="cat", colour="black")

# using function/method named sound on our object Cat
my_animal.sound()

meow

intrinsic/primitive data types in python
- integer
- float
- string
- boolean
- type conversion

In [ ]:
int_val = 5

# using type function to see what data type a variable holds
print(type(int_val))

<class 'int'>

In [ ]:
# applying function "bit_length" on object 5
# prints the bit length taken by integer 5
int_val.bit_length()

3

In [ ]:
float_value = 10.57
print(type(float_value))

<class 'float'>

In [ ]:
str_val = "bhagya"
print(type(str_val))

<class 'str'>

## coverting a string into an integer

In [ ]:
num_val = '9'
print(type(num_val))

<class 'str'>

In [ ]:
num_val = int(num_val)
print(type(num_val))

<class 'int'>

## numeric operations on python

In [ ]:
a = 9
b = 4
add = a + b

sub = a - b

mul = a * b

mod = a % b

p = a ** b

print("addition of 9 and 4=", add)
print("9-4 = ", sub)
print("9 * 4 = ", mul)
print(mod)
print(p)

addition of 9 and 4= 13
9-4 =  5
9 * 4 =  36
1
6561

## boolean (True / False with comparision)

```
== means checking equal to
>= means checking greater than or equal to
<= means checking less than or equal
!= means checking not equal to
```

In [ ]:
print(8 == 8)

print(8>=7)

print(8 <= 4)

print(8!=9)

True
True
False
True

In [ ]:
age = 18

if age >= 18:
    print("You are an adult.")
else:
    print("You are a minor.")

You are an adult.

In [ ]:
score = 85

if score >= 90:
    print("Grade: A")
elif score >= 80:
    if score >= 85:
        print("Grade: B+")
    else:
        print("Grade: B")
elif score >= 70:
    print("Grade: C")
else:
    print("Grade: D")

Grade: B+

In [ ]:
fruits = ["apple", "banana", "cherry"]

for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [ ]:
count = 0

while count < 5:
    print(count)
    count += 1

0
1
2
3
4

In [ ]:
for number in range(20):
    if number == 15:
        break  # exits the loop when number is 5
    if number % 2 == 0:
        continue  # skips the rest of the loop iteration for even numbers
    print(number)

1
3
5
7
9
11
13

In [ ]:
from sklearn.datasets import fetch_california_housing
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

cal = fetch_california_housing()
X,y = cal.data, cal.target

X_train,X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, shuffle=False, random_state=0)

model = LinearRegression()
model.fit(X_train, y_train)

model.score(X_test, y_test)

0.6605140591532079